.photoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.descriptionWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: relative;
}
