.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.mainTitle {
    font-size: 56px;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
}