.list {
    display: flex;
    justify-content: space-around;
}

.end {
    flex-basis: 100%;
    list-style: none;
}

.listItem {
    list-style: none;
}

.myMasonryGrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.myMasonryGridColumn {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.myMasonryGridColumn > li { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
}

.error {
    width: 100%;
    padding-top: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .error {
        font-size: 30px;
    }
}